/*font-family: 'Montserrat', sans-serif;
font-family: 'Vollkorn', serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
  }
  
  a{
    text-decoration: none;
    color: #e8e1e1;
  }
  
  body{
    background-image: url(../pic/backgraund/simon-lee-zft-W1kVEhg-unsplash.jpg);
  
  }

  /*HEADER*/
.header{
    background-color:#35648E;
    opacity: 0.95;
    margin: auto;
    max-width: 1920px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .header_nav{
    font-size: 20px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    width: 130px;
    height: 35px;
    border-radius: 30px;
  }
  
  .header_nav:focus{
    background-color: #fff;
    color: #000;
  }
  
  .header_nav + .header_nav{
    margin-left: 10px;
  }

  /*ABOUT ME*/

section.about_me{
    background-color:rgba(53, 100, 142, 1);
    opacity: 0.95;
    color: #E8E1E1;
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 50px;
    max-width: 1920px;
    height: 800px;
  }
  
  
  section.about_me h2{
    font-size: 33px;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
  
  .about_me_all_skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .about_me_charact p{
    margin-left: 150px;
    margin-right: 100px;
  }
  
  .about_me_work p{
    margin-left: 100px;
    margin-bottom: 20px;
  }
  
  .about_me_work_icons{
    display: flex;
    margin-left: 150px;
  }
  
  .about_me_work_icon{
    width: 7%;
    height: 7%;
  }
  
  .about_me_work_icon + .about_me_work_icon {
    margin-left: 50px;
  }
  
  .about_me_education h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  
  .about_me_education > ul{
    margin-left: 150px;
    margin-right: 100px;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
  }
  
  .about_me_career h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
  }
  
  .about_me_career p{
    margin-left: 150px;
    margin-right: 100px;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
  }