*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
  }

  body{
    background-image: url(../pic/backgraund/simon-lee-zft-W1kVEhg-unsplash.jpg);
    }

    a{
      text-decoration: none;
    }

  /*HEADER*/
.header{
    background-color:#35648E;
    opacity: 0.95;
    margin: auto;
    max-width: 1920px;
    height: 180px;
    display: block;
    /* margin-bottom: 30px; */
  }

  .header h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #E8E1E1;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
  }

  /*TITUL*/
  .titul {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 270px 270px;
    column-gap: 220px;
    row-gap: 70px;
    margin: 30px 400px;
  }

  .titul_box{
    background-color: #fff;
    width: 450px;
    height: 270px; 
    position:absolute;
    display: none;
  }

   .titul img{
    width: 450px;
    height: 270px;
   }

   /* .titul_nav_left:hover {
    opacity: 0.5;
    color: white;
    content: attr(alt);
    display: block;
    font-size: 16px;
    opacity: 70;
    position: absolute;
    z-index: 3;
   } */

   .titul_further{
  background-color: rgb(249, 250, 249);
  height: 50px;
  border: 3px solid black;
  cursor: pointer;
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  padding:0 18px;
  position: relative;
  margin: auto;
  top:50%;
  transform: translate(0, -50%);
  display: none;
}

.titul_nav:hover .titul_box{
  display: block;
} 

.titul_nav:hover .titul_further{
  display: block;
} 

.titul_nav:hover .titul_img{
  display: none;
}


   /*CONTACT*/

 .titul_contact a{
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #E8E1E1;
    display: inline-block;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
 }

 .titul_contact{
  text-align: center;
  margin-top: 30px;
 }

 .titul_contact a:focus{
  background-color: #fff;
  color: #000;
}
